/* MENU */

#menu .menu-item {
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    transition: all var(--animation-duration) ease-in;
}

#menu .menu-item:hover {
    transform: scale(1.1);
    color: var(--color-primary);
    background-color: var(--color-text);
}
